<h3>Carrinho</h3>

<p>
  <a routerLink="/shipping">Valores de envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.descricao }} </span>
  <span>{{ item.preco | currency }}</span>
</div>

<div class="cart-item">
  <span>Valor total</span>
  <span>{{totalValue | currency}}</span>
</div>


<form [formGroup]="form">

  <table style="width:100%">

    <tr>
      <td>
        <div>
          <label style="color: rgb(252, 80, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
            DADOS PESSOAIS
          </label>
        </div>
     </td>
     <td>
      <div>
        <label style="color: rgb(255, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
          * DADOS DE PREENCHIMENTO OBRIGATÓRIO
        </label>
      </div>
   </td>
    </tr>
    

    <tr>
      <td>
        <div>

          <label for="nome">
            Nome *
          </label>
          <input id="nome" type="text" formControlName="nome" required >
        </div>

      </td>
      <td>
        <div>
          <label for="nome">
            E-mail *
          </label>
          <input id="eMail" type="text" formControlName="eMail" required >
        </div>
      </td>


    </tr>

    <tr>
      <td>
        <div>
          <label for="nome">
            CPF *
          </label>
          <input id="cpf" type="number" formControlName="cpf" required >
        </div>

      </td>
      <td>
      </td>
    </tr>

    <tr>
      <td>
        <div>
          <label style="color: rgb(252, 80, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
            DADOS DO PAGAMENTO
          </label>
        </div>
     </td>
     <td>
      <div>
        <label style="color: rgb(255, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
          * DADOS DE PREENCHIMENTO OBRIGATÓRIO
        </label>
      </div>
    </td>
    </tr>

    <tr>
      <td>
        <div>
          <label for="nome">
            Numero cartão de crédito *
          </label>
          <input id="numeroCartao" type="number" formControlName="numeroCartao" required >
        </div>

      </td>
      <td>
        
    <div>
      <label for="nome">
        Nome no cartão de crédito *
      </label>
      <input id="nomeCartao" type="text" formControlName="nomeCartao" required >
    </div>
      </td>
    </tr>

    <tr>
     
      <td>
        
    <div>
      <label for="nome">
        Mês validade *
      </label>
      <input id="mesValidade" type="number" formControlName="mesValidade" required >
    </div>
    
      </td>

      <td>
        <div>


          <label for="nome">
            Ano validade *
          </label>
          <input id="anoValidade" type="number" formControlName="anoValidade" required >
        </div>

      </td>
    </tr>

    <tr>
      <td>
        <div>
          <label for="nome">
            Código de segurança *
          </label>
          <input id="codigoSeguranca" type="number" formControlName="codigoSeguranca" required >
        </div>

      </td>
      <td>
        

    
      </td>
    </tr>
   
    <tr>
      <td>
        <div>
          <label style="color: rgb(252, 80, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
            ENDEREÇO DE ENTREGA
          </label>
        </div>
     </td>
     <td>
      <div>
        <label style="color: rgb(255, 0, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">
          * DADOS DE PREENCHIMENTO OBRIGATÓRIO
        </label>
      </div>
   </td>
    </tr>

    <tr>
      <td>
        <div>
          <label for="nome">
            Rua *
          </label>
          <input id="rua" type="text" formControlName="rua" required >
        </div>

      </td>
      <td>
        
    <div>
      <label for="nome">
        Numero *
      </label>
      <input id="numero" type="text" formControlName="numero" required >
    </div>
    
      </td>
    </tr>

    <tr>
      <td>
        <div>
          <label for="nome">
            Bairro *
          </label>
          <input id="bairro" type="text" formControlName="bairro" required >
        </div>

      </td>
      <td>
        
    <div>
      <label  for="nome">
        Cidade *
      </label>
      <input id="cidade" type="text" formControlName="cidade" required >
    </div>
    
      </td>
    </tr>

    <div>

      <span>
        <label for="nome">
          Estado *
        </label>
        <input id="uf" type="text" formControlName="uf" required >
      </span>
    </div>
  </table>

  <button type="button" (click)="finalizarCompra()" [disabled]="!disableButton" >Finalizar Compra</button>

</form>